.vscode/
.vs/
*prog*
build/
*compile_commands*
.cache/
assets/models/

imgui.ini

ext/assimp/bin/
ext/assimp/CMakeFiles/
ext/assimp/lib/
ext/assimp/*.sln
ext/assimp/.vcxproj*

*assimp-*.dll
*assimp-*.pdb